@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http
@using LapTrinhWeb.Extensions
@using LapTrinhWeb.Utility

@inject IHttpContextAccessor HttpContextAccessor
@* Nội dung: thay đổi giao diện cho outline của trang web
   Sinh viên thực hiện: Dương Cơ Khánh*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <link rel="stylesheet" href="~/css/jquery.timepicker.css" />
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/nav.css">
    <link rel="shortcut icon" href="~/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row navbar-link navbar-brand">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" asp-controller="Home"><img src="~/assets/images/logo.svg" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" asp-controller="Home"><img src="~/assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch ">
                @* Tạo biểu tượng hamburger dùng để thu nhỏ phần side bar bên trái *@
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>


                <ul class="navbar-nav navbar-right" style="margin-left:auto">
                </ul>
                <div class="navbar-nav navbar-nav-right">
                    <partial name="_LoginPartial" />
                </div>
                @* Tạo biểu tượng hamburger dùng để thu nhỏ phần side bar bên trái *@
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->

        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="nav-link">
                            <div class="nav-profile-image">
                                <img src="~/assets/images/faces/User.png" alt="profile">
                                <span class="login-status online"></span>
                                <!--change to offline or busy as needed-->
                            </div>
                            <div class="nav-profile-text d-flex flex-column">
                                @if (User.IsInRole(SD.SuperAdminEndUser) || User.IsInRole(SD.AdminEndUser))
                                {
                                    <span class="font-weight-bold mb-2">@await Component.InvokeAsync("UserName")</span>
                                }
                                else
                                {
                                    <span class="font-weight-bold mb-2">Vistor</span>
                                }

                            </div>
                            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="Customer">
                            <span class="menu-title">Home</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>

                    @if (User.IsInRole(SD.SuperAdminEndUser))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="ProductTypes" asp-area="Admin">
                                <span class="menu-title">Product Type</span>
                                <i class="mdi mdi-jira menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="SpecialTags" asp-area="Admin">
                                <span class="menu-title">SpecialTags</span>
                                <i class="mdi mdi-package-variant menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Products" asp-area="Admin">
                                <span class="menu-title">Products</span>
                                <i class="mdi mdi-tag-faces menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="AdminUsers" asp-area="Admin">
                                <span class="menu-title">Admin Users</span>
                                <i class="mdi mdi-tag-heart menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Appointments" asp-action="Index">
                                <span class="menu-title">Appointments</span>
                                <i class="mdi mdi-tag-heart menu-icon"></i>
                            </a>
                        </li>
                    }

                    @if (HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart") != null)
                    {
                        <li class="nav-item">
                            <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                                <span class="menu-title">Your bag</span>
                                <i class="mdi mdi-cart menu-icon"></i>
                                @{
                                    var count = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart").Count;
                                }
                                (@count)
                            </a>
                        </li>


                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                                <span class="menu-title">Your bag</span>
                                <i class="mdi mdi-cart menu-icon"></i>

                                (0)
                            </a>

                        </li>

                    }
                </ul>
            </nav>
            <div class="container body-content">
                @RenderBody()

            </div>

            <!-- partial -->
            <!-- main-panel ends -->
        </div>
        <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Dương Cơ Khánh</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Backpack store  <i class="mdi mdi-heart text-danger"></i></span>
            </div>
        </footer>
    </div>
    @* Các file .js chứa các hàm dùng để tạo hiệu ứn *@
    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/hoverable-collapse.js"></script>
    <script src="~/assets/js/misc.js"></script>
    <script src="~/assets/js/dashboard.js"></script>
    <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
    <script src="~/js/jquery.timepicker.js" asp-append-version="true"></script>
    <script src="~/assets/js/todolist.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>